
 #wrapper {                      /* Wrap page content to push footer down */
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -100px;        /* Negative indent footer by its height */
   padding: 0 0 100px;           /* Pad bottom by footer height */
 }
 
 /**
  * General styles
  */
 body {
   background: #fafafa;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
 }
 
 .jumbotron {
   background-color: #ccc;
   margin-bottom: 35px;
   padding-bottom: 25px;

 }
 
 .browsehappy {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
 }
 
 .footer {
   background-color: #0f0f0f;
   color: #fafafa;
   height: 100px;                /* Fixed height per the wrapper's negative margin */
   margin-top: 60px;
   padding-top: 45px;
 }
 
 .authorImage {
   width: 360px;
 }
 
 .title {
   display: block;
   margin-bottom: 20px;
   padding: 15px 20px;
 }
 
 .pass {
   background-color: #5cb85c;
 
 }
 
 .fail {
   background-color: red;
 
 }
 
 .formHeader {
   margin-bottom: 25px;
 
 }

 .turn > div {
   height: 100%;
 }

 .turn {
   padding-top: 20px;
   padding-bottom: 20px;

 }

 .authorimage{
   max-height: 360px;
   width: 360px;
 }

 .answer{
    background-color: #F0F7FD;
    border-color: #D0E3F0;
    margin-bottom: 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #D0E3F0;
    cursor: pointer;

 }

 .answer:hover{
   background-color: #D0E3F0;
}